.wrapper {
  height: 100vh;
  background-color: black;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.prompt-wrap {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -170px;
}

.super-text,
.prompt {
  display: block;
  text-align: center;
  margin: 0;
  color: white;
  font-size: 3em;
}

.team {
  display: inline-block;
  height: 100%;
  text-align: center;
  font-size: 70px;
  color: white;
  font-weight: 200;
}

#teamA {
  float: left;
  background-color: #2a2740;
  width: 50%;
}

#teamB {
  float: right;
  background-color: #91cbc0;
  width: 50%;
}

.teamID {
  margin-top: 16px;
}

#join {
  clear: both;
  background-color: #f9d047;
  display: block;
  text-align: center;
  font-size: 70px;
  color: white;
  z-index: 999;
}
